.custom-color {
    color: #2a67eb;
}

/* stat form  */

p {
    color: #818498;
}

h2 {
    color: #1f0f4d;
}

h5 {
    color: #040b38;
}

.secondary_color {
    color: #818498;
}

.size_font {
    font-size: 12px;
    color: #818498;
}

.bg-select {
    background-color: #e4ecfc;
}
.border-custom {
    border: 1px solid #e4ecfc;
}

.bg-convert {
    background-color: #9ebbfa;
}
